@use "./variables.scss" as *;

.found{
    background-color: $light;
    color: $darker;
    margin: 12px;
    padding: 3px 12px;
    border-radius: 6px;
    max-width: 17%;
    text-transform: uppercase;
    font-weight: 600;
}